@if (contentfulItem) {
    <div class="card">
        <div class="flex flex-column p-1 h-full">
            <p-tabs [(value)]="valueTab" [scrollable]="true">
                <p-tablist>
                    <p-tab value="0">Formulieren</p-tab>
                    <p-tab value="1">Belegging Leven</p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel value="0">
                        <ul class="list-none m-0 p-0">
                            <li>
                                <a
                                    href="https://docs.vsoft.be/insurance/{1}-Levenzorgplicht/InfoficheForm.pdf"
                                    target="_blank"
                                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                                >
                                    <span>
                                        <i class="pi pi-external-link text-xl text-primary"></i>
                                    </span>
                                    <div class="ml-3">
                                        <span class="mb-2 font-semibold">Tak 21</span>
                                        <p class="text-color-secondary m-0">Pré-contractuele vragen</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <div class="card border-primary mb-resp">
                            @if (contentfulItem) {
                                <div class="ml-3 mt-3 mr-3">
                                    <div class="md-content" [innerHTML]="contentfulItem.fields['mdTextBody'] | mdToHtml"></div>
                                </div>
                            }
                        </div>
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
    </div>
}
