@if (contactForm) {
  <div class="surface-ground px-2 py-2 md:px-2 lg:px-28">
    <div class="surface-card p-6 shadow-2 border-round p-fluid">
      <div class="grid form">
        <div class="col-12 lg:col-4">
          <button pButton pRipple (click)="onOfficeModal()" icon="pi pi-search" label="{{ 'CONTACT.OfficeContactLabel' | translate }}" class="p-button-secondary p-button-outlined w-auto"></button>
        </div>
        <div class="col-12 lg:col-4">
          <button pButton pRipple routerLink="/privacy" icon="pi pi-eye" label="Privacy / GDPR" class="p-button-secondary p-button-outlined w-auto"></button>
        </div>
        <div class="col-12 lg:col-4">
          <button pButton pRipple (click)="onMeetupModal()" icon="pi pi-eye" label="{{ 'CONTACT.MeetupLabel' | translate }}" class="p-button-secondary p-button-outlined w-auto"></button>
        </div>
        <form [formGroup]="contactForm">
          <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12 md:col-6">
              <label for="_name" class="font-medium text-900">
                {{ 'CONTACT.MessageNameLabel' | translate }}
              </label>
              <input formControlName="name" id="_name" type="text" pInputText />
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="_rR" class="font-medium text-900">
                {{ 'CONTACT.MessageRRLabel' | translate }}
              </label>
              <input formControlName="rR" id="_rR" type="text" pInputText />
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="_mail" class="font-medium text-900">
                {{ 'CONTACT.MessageMailLabel' | translate }}
              </label>
              <input formControlName="email" id="_mail" type="email" pInputText />
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="_phone" class="font-medium text-900">
                {{ 'CONTACT.MessagePhoneLabel' | translate }}
              </label>
              <input formControlName="phone" id="_phone" type="text" pInputText />
            </div>
            <div class="field mb-4 col-12">
              <label for="notes" class="font-medium text-900">
                {{ 'CONTACT.MessageTextLabel' | translate }}
              </label>
              <textarea formControlName="message" id="notes" pInputTextarea [rows]="5"> </textarea>
            </div>
            <div class="field mb-4 col-12 flex align-items-center">
              <p-checkbox formControlName="copySender" [binary]="true"> </p-checkbox>
              <span class="ml-2 text-900">
                {{ 'CONTACT.CheckCCLabel' | translate }}
              </span>
            </div>
            <div class="surface-border border-top-1 opacity-50 mb-4 col-12"></div>
          </div>
          @if (!busy) {
            <div>
              <button pButton (click)="submitContactMail()" [disabled]="!contactForm.valid" label="{{ 'CONTACT.MessageSendLabel' | translate }}" icon="pi pi-send" class="w-auto"></button>
            </div>
          }
          @if (busy) {
            <div>
              <button pButton disabled label="{{ 'CONTACT.MessageSendLabel' | translate }}" icon="pi pi-spin pi-cog" class="w-auto"></button>
            </div>
          }
        </form>
      </div>
      <!-- <div *ngIf="contactForm">
      <header id="page-header">
        <div class="container">
          <div class="row">
            <div class="col-md-6 m-auto text-center">
              <h1>{{ 'CONTACT.Title' | translate }}</h1>
              <p>{{ 'CONTACT.TitleIntro' | translate }}</p>
            </div>
          </div>
        </div>
      </header>
      <section id="contact" class="py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card p-4">
                <div class="card-body">
                  <button class="btn btn-success mb-1 mr-1" (click)="onOfficeModal()">{{ 'CONTACT.OfficeHoursLabel' |
                  translate }}</button>
                  <button class="btn btn-danger mb-1 mr-1" (click)="onMeetupModal()">{{ 'CONTACT.MeetupLabel' | translate
                  }}</button>
                  <a class="btn btn-primary mb-1 mr-1" type="button"
                    href="https://secure.brokertools.be/beleggersprofiel/?partnerid=0d6a6d64fc6jfze512e512d1s21g1879f5d5"
                  target="_blank">Uw Beleggers-Profiel</a>
                  <br><br>
                  <h6>{{ 'CONTACT.CompanyNumberLabel' | translate }}</h6>
                  <h6>{{ 'CONTACT.NameLabel' | translate }}</h6>
                  <h6>{{ 'CONTACT.AddressLabel' | translate }}</h6>
                  <h6>{{ 'CONTACT.MailLabel' | translate }}</h6>
                  <br>
                    <h6>{{ 'CONTACT.PhoneLabel' | translate }}</h6>
                    <h6>{{ 'CONTACT.MobileLabel' | translate }}</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card p-4">
                  <div class="card-body">
                    <h3 class="text-center">{{ 'CONTACT.MessageTitle' | translate }}</h3>
                    <div *ngFor="let alert of alerts">
                      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                      {{ alert.msg }}</alert>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="submitContactMail()">
                      <div class="row">
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="name" label="{{ 'CONTACT.MessageNameLabel' | translate }}"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}"></vsoft-nx-text-input>
                        </div>
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="rR" label="{{ 'CONTACT.MessageRRLabel' | translate }}"
                          warningMessage="{{ 'COMMON.IsRequired' | translate }}"></vsoft-nx-text-input>
                        </div>
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="email" label="{{ 'CONTACT.MessageMailLabel' | translate }}"
                          warningMessage="{{ 'COMMON.InvalidEmail' | translate }}"></vsoft-nx-text-input>
                        </div>
                        <div class="col-md-6">
                          <vsoft-nx-text-input formControlName="phone"
                          label="{{ 'CONTACT.MessagePhoneLabel' | translate }}"></vsoft-nx-text-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" formControlName="message"
                            placeholder="{{ 'CONTACT.MessageTextLabel' | translate }}"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" formControlName="copySender">
                              {{ 'CONTACT.CheckCCLabel' | translate }}</label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <div *ngIf="!busy">
                              <button type="submit" [disabled]="!form.valid" class="btn btn-primary btn-block">
                              {{ 'CONTACT.MessageSendLabel' | translate }}</button>
                            </div>
                            <div *ngIf="busy">
                              <button type="submit" disabled class="btn btn-primary btn-block">Bezig...</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div> -->
    </div>
  </div>
}
