<p-card class="w-full max">
    <h2 class="text-2xl flex justify-center font-bold mb-4">Error Testing</h2>
    <div class="mt-5 flex justify-center gap-4">
        <p-button outlined (click)="get500Error()" label="500 Error"></p-button>
        <p-button outlined (click)="get404Error()" label="404 Error"></p-button>
        <p-button outlined (click)="get400Error()" label="400 Error"></p-button>
        <p-button outlined (click)="get401Error()" label="401 Error"></p-button>
        <p-button outlined (click)="get400ValidationError()" label="Validation"></p-button>
    </div>

    @if (validationErrors(); as validationErrors) {
    <div class="p-4">
        <div class="p-4 border rounded">
            <ul class="text-orange-500 font-bold">
                @for (error of validationErrors; track $index) {
                <li >{{ error }}</li>
                }
            </ul>
        </div>
    </div>

    }
</p-card>
