<div class="grid grid-cols-12 gap-4 grid-nogutter" style="background-color: var(--surface-ground); color: var(--text-color);">
    <div class="col-span-12 md:col-span-6 p-12 text-center md:text-left flex items-center">
        <section>
            <span class="block text-4xl font-bold mb-1">{{ 'HOME.Title' | translate }}</span>
            <div class="text-4xl text-primary font-bold mb-4">{{ 'HOME.SubTitle' | translate }}</div>
            <p class="mt-0 mb-6 leading-normal" style="color: var(--text-color-secondary);">{{ 'HOME.SubSubTitle' | translate }}</p>
        </section>
    </div>
    <div class="col-span-12 md:col-span-6 overflow-hidden">
        <img src="/images/office.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" />
    </div>
</div>

<div class="grid grid-cols-12 gap-4 grid-nogutter" style="background-color: var(--surface-ground); color: var(--text-color);">
    <div class="col-span-12 p-12 text-center md:text-left flex items-center">
        <section>
            <p class="text-sm" style="color: var(--text-color-secondary);">
                {{ 'HOME.LegalIntro' | translate }}
                <a href="#" class="text-blue-600 hover:underline">{{ 'HOME.LegalLink' | translate }}</a>
                |
                <a href="#" class="text-blue-600 hover:underline">{{ 'HOME.LegalLink1' | translate }}</a
                >.
            </p>
        </section>
    </div>
</div>
