<p-card>
    <div class="flex items-center justify-center min-h-96 bg-gray-100">
        <div class="text-center mt-2">
            <i class="pi pi-user" style="font-size: 5rem"></i>
            <h1>404</h1>
            <p class="text-lg text-gray-600 mt-2 mb-4">{{ 'ERROR.NotFoundTitle' | translate }}</p>
            <div class="text-gray-500 mb-4">
                <p>{{ 'ERROR.NotFoundSub' | translate }}.</p>
            </div>
            <div class="mb-4">
                <p-button outlined routerLink="/">{{ 'ERROR.ButtonHome' | translate }}</p-button>
            </div>
        </div>
    </div>
</p-card>
