<p>Beste .{name},</p>
<p>Wij hebben uw aanvraag goed ontvangen.<br>
  U bent geïnteresseerd in <strong>SAFE &amp; CONNECTED</strong>
</p>
<p>.{offer}</p>
<p>Indien U de QR Code gebruikt of betaalt met betaal-app ontvangt U sneller de polis.<br>
  U kan uiteraard ook manueel overschrijven naar onze rekening:<br>
<ul>
  <li>Bedrag: <strong>.{qrAmountValue}</strong></li>
  <li>Naar: <strong>BE83891854037015</strong></li>
  <li>Op naam: <strong>Roelandt en Vermoesen bv</strong></li>
  <li>Referte: <strong>.{qrReferenceValue}</strong></li>
</ul>
</p>
<blockquote>.{message}</blockquote>
<p>Steeds tot uw dienst voor bijkomende inlichtingen.
  <br>Vriendelijke groet!
</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>
<br>
<small>
  Dit bericht is uitsluitend bestemd voor <strong>.{email}</strong>, rijksregister <strong>.{rR}</strong>
</small>