Beste Klant,
<p>
  Versie 11.3.011 staat klaar van <strong>marIntegraal</strong>
  (marNT11.zip)
</p>
<ul>
  <li>
    <a
      href="https://1drv.ms/f/c/392218769b1801c2/QsIBGJt2GCIggDlJMxAAAAAAuDgW7HC8OXsMQA"
      target="_blank"
      class="nav-link"
      >2025</a
    >
    download map (Microsoft Onedrive op 1drv.ms)
  </li>

  <li>
    <a href="https://vsoft.be/#/marintegraal" target="_blank" class="nav-link"
      >Info</a
    >
    versie historiek
  </li>
</ul>

<p>
  Steeds tot uw dienst voor bijkomende inlichtingen. <br />Vriendelijke groet!
</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>
<small>
  <p>
    Dit bericht is uitsluitend bestemd voor <strong>.{name}</strong>,
    ondernemingsnummer <strong>0.{companyNumber}</strong> met email adres
    <strong>.{email}</strong>
  </p>
</small>
