<img src=".{image}" width="50%" alt="base64 test">
<p>Beste .{name},</p>
<p>
  Wat zouden we vandaag doen zonder goed werkende digitale apparatuur en een degelijke verbinding? Tegenwoordig is
  iedereen immers verbonden, altijd en overal. In contact blijven met familieleden of vrienden via digitale weg is enorm
  belangrijk. Afstandsonderwijs is voor veel studenten de norm geworden.
</p>
<p>
  Onze afhankelijkheid van IT-toestellen brengt echter risico's en soms ook frustraties met zich mee: een scherm dat
  resoluut zwart blijft, een bug die u kostbare tijd doet verliezen, een virus dat de crash van uw computerapparatuur
  veroorzaakt, uw kind dat de hele dag aan zijn tablet gekluisterd blijft met als risico het slachtoffer te worden van
  gegevensdiefstal of pesterijen op sociale netwerken, ...
</p>
<p>
  Wat kunt u doen indien u met dit soort problemen te maken zou hebben en ze niet snel zelf kunt oplossen? Hoe kunt u op
  korte tijd een vervangtoestel vinden als het uwe plots niet meer werkt?
</p>
<p>
  Europ Assistance staat u voortaan ook dagelijks bij indien u met dergelijke problemen zou te kampen hebben.
</p>
<ul>
  <li>
    <strong>SAFE &amp; CONNECTED</strong> (bijstand technologie: <a
      href="https://docs.vsoft.be/pdf/insurance/offers/ea/safeconnected/safeconnected-nl.pdf" target="_blank"
      class="nav-link">product fiche</a>)
  </li>
</ul>
<p style="margin-bottom:1em;font-size:16px;color:#333333;line-height:1.5em;">​<a href=".{urlSafeConnected}"
    target="_blank" style="text-decoration: underline;border-bottom:1px dotted #0875c1;color:#0875c1">
    Klik hier voor een gepersonaliseerd aanbod SAFE &amp; CONNECTED</a>​
</p>
<p>Steeds tot uw dienst voor bijkomende inlichtingen.
  <br>Vriendelijke groet!
</p>
<p>Jos Vermoesen | Roelandt &amp; Vermoesen bv</p>
<br><br>
<h3>Geïnteresseerd in medische bijstand?​</h3>
<ul>
  <li>
    <strong>MEDICALL</strong> (thuishulp bijstand: <a
      href="https://docs.vsoft.be/pdf/insurance/offers/ea/medicall/medicall-nl.pdf" target="_blank"
      class="nav-link">product fiche</a> )
  </li>
</ul>
<p style="margin-bottom:1em;font-size:16px;color:#333333;line-height:1.5em;">​<a href=".{urlMedicall}" target="_blank"
    style="text-decoration: underline;border-bottom:1px dotted #0875c1;color:#0875c1">Klik hier voor uw
    gepersonaliseerde offerte MEDICALL</a>​
</p>
Voor de formule MEDICALL genieten snelle beslissers tot uiterlijk 28/02/2021 korting van 25% op de eerste jaarpremie!
