<div class="surface-card p-1 shadow-1 border-round w-full">
    <div class="text-center mb-2">
        <img src="images/OIP.png" alt="Image" height="50" class="mb-2 block mx-auto" />
        <div class="text-900 text-3xl font-medium mb-2">
            {{ 'LOGIN.Welcome' | translate }}
        </div>
        <span class="text-600 font-medium line-height-2">
            {{ 'LOGIN.NotYetRegistered' | translate }}
        </span>
        <a (click)="onRegister()" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">
            {{ 'LOGIN.CreateAccount' | translate }}
        </a>
    </div>
    
    <form [formGroup]="loginForm">
        <br />
        <p-floatlabel class="block mb-4">
            <input pInputText class="w-full" formControlName="username" id="username" type="email" />
            <label for="username">{{ 'LOGIN.UserNameHint' | translate }}</label>
        </p-floatlabel>
        <br />
        <p-floatlabel class="block mb-4">
            <input pInputText class="w-full" formControlName="password" type="password" id="password" />
            <label for="password">{{ 'LOGIN.PassWordHint' | translate }}</label>
        </p-floatlabel>

        @if (!primeSpinner) {
            <div>
                <button class="w-full" pButton pRipple (click)="login()" [disabled]="loginForm.invalid" label="{{ 'COMMON.BtnSubmit' | translate }}" icon="pi pi-user"></button>
            </div>
        } @else {
            <div>
                <button class="w-full" pButton disabled label="{{ 'COMMON.BtnSubmit' | translate }}" icon="pi pi-spin pi-cog"></button>
            </div>
        }
    </form>

    <p-dialog [(visible)]="show2WayDialog" appendTo="body" [modal]="true" [breakpoints]="{ '480px': '75vw', '640px': '75vw' }" [style]="{ width: '40vw' }">
        <ng-template pTemplate="headless">
            <div class="flex flex-column px-8 py-5 gap-4" style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--primary-400), var(--primary-700))">
                <form [formGroup]="checkForm">
                    <label class="block text-900 font-medium mb-2" for="numberToCheck"> Enter code sent to your email! </label>
                    <small>
                        Waiting 120 seconds:
                        {{ countdownObs$ | async }}
                    </small>
                    <input pInputText class="w-full mb-3" formControlName="numberToCheck" id="numberToCheck" placeholder="String of 6 characters" />

                    <div class="flex align-items-center gap-2">
                        <p-button [disabled]="checkForm.invalid" label="Check!" (click)="onCheck2Way()" [text]="true" styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
                        <p-button label="Cancel" (click)="onCancel2Way()" [text]="true" styleClass="w-full text-primary-50 border-1 border-white-alpha-30 hover:bg-white-alpha-10" class="w-full"></p-button>
                    </div>
                </form>
            </div>
        </ng-template>
    </p-dialog>
</div>
