<div class="card">
    <p-tabs [(value)]="valueTab" [scrollable]="true">
        <p-tablist>
            <p-tab value="0">Formulieren</p-tab>
            <p-tab value="1">Algemeen</p-tab>
            <p-tab value="2">Woning</p-tab>
            <p-tab value="3">Preventie</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <ul class="list-none m-0 p-0">
                    <li>
                        <a
                            href="https://docserver.rv-services.be/!pdfDocumenten/saerPlaatsenWoning.pdf"
                            target="_blank"
                            class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                        >
                            <span>
                                <i class="pi pi-external-link text-xl text-primary"></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">S.A.E.R.</span>
                                <p class="text-color-secondary m-0">Woning</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://docserver.rv-services.be/!pdfDocumenten/saerPlaatsenAppartement.pdf"
                            target="_blank"
                            class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                        >
                            <span>
                                <i class="pi pi-external-link text-xl text-primary"></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">S.A.E.R.</span>
                                <p class="text-color-secondary m-0">Appartement</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card border-primary mb-resp">
                            <div class="ml-3 mt-3 mr-3">
                                SAER 1986 (Systeem Afschaffing Evenredigheid Regel) wordt door ons kantoor al meer dan 30 jaar aanbevolen om de eigenaar onbeperkt te verzekeren voor het gebouw. Diverse brandverzekeraars aanvaarden dit rooster om bij
                                schade (onbeperkt) te regelen boven het kapitaal waarop de jaarlijkse premie wordt berekend (het excedent)!
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="card border-primary mb-resp">
                    @if (cfFireGenerally) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfFireGenerally.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="2">
                <div class="card border-primary mb-resp">
                    @if (cfFireHouse) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfFireHouse.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="3">
                <div class="card border-primary mb-resp">
                    @if (cfFireBurglary) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfFireBurglary.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
