<div class="card flex justify-center">
    <p-accordion value="0">
        <p-accordion-panel value="0">
            <p-accordion-header>Modules Verzekeringen</p-accordion-header>
            <p-accordion-content>
                <a routerLink="/insurances/ins-fire" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-building text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Brand</span>
                        <p class="text-color-secondary m-0">Particuliere woning of appartement</p>
                    </div>
                </a>
                <br>
                <a routerLink="/insurances/ins-car" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center  surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-car text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Voertuigen</span>
                        <p class="text-color-secondary m-0">Auto, moto en lichte vrachtwagen</p>
                    </div>
                </a>
                <br>
                <a routerLink="/insurances/ins-investment" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center  surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-money-bill text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Verzekerd Beleggen</span>
                        <p class="text-color-secondary m-0">Tak 21 en 26</p>
                    </div>
                </a>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Externe Links</p-accordion-header>
            <p-accordion-content>
                <a
                    href="https://app.sectorcatalog.be/SectorCatalog/public?language=NL"
                    target="_blank"
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">IBP</span>
                        <p class="text-color-secondary m-0">Productinfo en IPID fiches verzekeraars</p>
                    </div>
                </a>
                <a
                    href="https://eservices.minfin.fgov.be/mandates/extern/"
                    target="_blank"
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">TOW mandaat</span>
                        <p class="text-color-secondary m-0">Beheer uw mandaat voor onze belastingsservice</p>
                    </div>
                </a>

                <a
                    href="https://financien.belgium.be/nl/E-services/overview"
                    target="_blank"
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">E-Services Overheid</span>
                        <p class="text-color-secondary m-0">Alle beschikbare E-Services van de Belgische Overheid</p>
                    </div>
                </a>

                <a
                    href="https://www.eboxenterprise.be/nl/index.html"
                    target="_blank"
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Ebox Enterprise</span>
                        <p class="text-color-secondary m-0">Verzamelportaal uw onderneming(en)</p>
                    </div>
                </a>

                <a href="https://justonweb.be/" target="_blank" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Just On Web</span>
                        <p class="text-color-secondary m-0">Verzamelportaal voor oprichten van vennootschap of vzw. Rechtbanken, Hoven of Parketten opzoeken. Belgisch Staatsblad raadplegen enz...</p>
                    </div>
                </a>
                <a
                    href="https://kbopub.economie.fgov.be/kbopub/zoeknummerform.html?lang=nl"
                    target="_blank"
                    class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                >
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Kruispuntbank Ondernemingen</span>
                        <p class="text-color-secondary m-0">Ken uw bedrijfspartners</p>
                    </div>
                </a>
                <a href="https://www.wonenvlaanderen.be/" target="_blank" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Vlaanderen</span>
                        <p class="text-color-secondary m-0">Wonen in Vlaanderen</p>
                    </div>
                </a>
                <a href="https://www.vgc.be/" target="_blank" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Brussel</span>
                        <p class="text-color-secondary m-0">Wonen in Brussel</p>
                    </div>
                </a>
                <a href="https://visitwallonia.be/" target="_blank" class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150">
                    <span>
                        <i class="pi pi-external-link text-xl text-primary"></i>
                    </span>
                    <div class="ml-3">
                        <span class="mb-2 font-semibold">Wallonië</span>
                        <p class="text-color-secondary m-0">Bezoek Wallonië</p>
                    </div>
                </a>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="2">
            <p-accordion-header>Noodnummers</p-accordion-header>
            <p-accordion-content>
                <div class="text-center">
                    <div class="card border-primary mb-resp">
                        <div class="card-body">
                            <p>Medische spoedgevallen en brandweer: 100 (enkel in België) of 112 (heel Europa)</p>
                            <p>Dringende politiehulp: 101</p>
                            <p>Anti-gifcentrum: 070/245.245</p>
                            <p>Algemene inlichtingen: 1207</p>
                            <p>Awel, de vroegere kinder- en jongerentelefoon: 102</p>
                            <p>Card Stop: 070/344.344</p>
                            <p>Child Focus: 116000</p>
                            <p>De druglijn: 078/15.10.20</p>
                            <p>Docstop, bij diefstal identiteitskaart of paspoort: 00800 2123 2123</p>
                            <p>Meldpunt geweld: 1712</p>
                            <p>Permanentiedienst apotheker: 0900/10.500</p>
                            <p>Rode Kruis: 105</p>
                            <p>Tele-onthaal: 106</p>
                            <p>Teleblok (studenten): 0800/13.14.4</p>
                            <p>Vlaamse infolijn: 1700</p>
                            <p>Zelfmoordlijn: 1813</p>
                        </div>
                    </div>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>
