<div class="card">
    <p-tabs [(value)]="valueTab" [scrollable]="true">
        <p-tablist>
            <p-tab value="0">Formulieren</p-tab>
            <p-tab value="1">B.A.</p-tab>
            <p-tab value="2">Omnium</p-tab>
            <p-tab value="3">Bestuurder</p-tab>
            <p-tab value="4">Juridische bijstand</p-tab>
            <p-tab value="5">Reisbijstand</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <ul class="list-none m-0 p-0">
                    <li>
                        <a
                            href="https://docserver.rv-services.be/!pdfDocumenten/VoorstelAutoInformatieplicht.pdf"
                            target="_blank"
                            class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                        >
                            <span>
                                <i class="pi pi-external-link text-xl text-primary"></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">Voorstel</span>
                                <p class="text-color-secondary m-0">Verzekering motorvoertuigen</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://docserver.rv-services.be/!pdfDocumenten/opvragenSchadeverleden.pdf"
                            target="_blank"
                            class="cursor-pointer flex surface-border mb-3 p-3 align-items-center surface-border border-round hover:surface-hover transition-colors transition-duration-150"
                        >
                            <span>
                                <i class="pi pi-external-link text-xl text-primary"></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">Attest schadeverleden</span>
                                <p class="text-color-secondary m-0">Manuele aanvraag vorige verzekeraar</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="card border-primary mb-resp">
                    @if (carDamageCertificateHtml) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="carDamageCertificateHtml | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="1">
                <div class="card border-primary mb-resp">
                    @if (cfCivilLiability) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfCivilLiability.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="2">
                <div class="card border-primary mb-resp">
                    @if (cfVehicle) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfVehicle.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="3">
                <div class="card border-primary mb-resp">
                    @if (cfDriver) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfDriver.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="4">
                <div class="card border-primary mb-resp">
                    @if (cfLegalAssistance) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfLegalAssistance.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
            <p-tabpanel value="5">
                <div class="card border-primary mb-resp">
                    @if (cfTravelAssistance) {
                        <div class="ml-3 mt-3 mr-3">
                            <div class="md-content" [innerHTML]="cfTravelAssistance.fields['mdTextBody'] | mdToHtml"></div>
                        </div>
                    }
                </div>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
