<div class="flex flex-column p-1 h-full">
    <p-accordion [(value)]="valueTab">        
        <p-accordion-panel value="0">
            <p-accordion-header>Tarieven</p-accordion-header>
            <p-accordion-content>
                <div class="card border-primary mb-resp">
                    <div class="hosting-table-shell">
                        <div class="hosting-table-header">
                            <div>
                                <h3 class="hosting-table-title">Hosting overzicht</h3>
                                <p class="hosting-table-subtitle">Vergelijk de inbegrepen mogelijkheden per hostingpakket.</p>
                            </div>
                        </div>

                        <p-table [value]="hostingRows" [tableStyle]="{ 'min-width': '52rem' }">
                            <ng-template #header>
                                <tr>
                                    <th>ASP.NET 10.0 (Core)</th>
                                    <th class="plan-column">Hosting 1</th>
                                    <th class="plan-column">Hosting 3</th>
                                    <th class="plan-column">Hosting 5</th>
                                </tr>
                            </ng-template>
                            <ng-template #body let-row>
                                <tr>
                                    <td class="feature-column">{{ row.feature }}</td>
                                    <td class="plan-column">{{ row.hosting1 }}</td>
                                    <td class="plan-column">{{ row.hosting3 }}</td>
                                    <td class="plan-column">{{ row.hosting5 }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </p-accordion-content>
        </p-accordion-panel>

        <p-accordion-panel value="1">
            <p-accordion-header>Video</p-accordion-header>
            <p-accordion-content> </p-accordion-content>
        </p-accordion-panel>

    </p-accordion>
</div>
