<div class="mx-auto max-w-4xl flex-1 space-y-6 w-full">
    <div class="space-y-4 rounded-lg border border-gray-200 p-4 bg-white shadow-xs">
        <p class="text-xl font-semibold">Order summary</p>
        <div class="space-y-4">
            <div class="space-y-2">
                <!-- dl stands for definition list, which is used to display a list of terms
                     and their definitions. -->
                <dl class="flex items-center justify-between gap-4">
                    <!-- dt stands for definition term, which is used to display
              the term being defined. -->
                    <dt class="font-medium text-gray-500">Subtotal</dt>
                    <!-- dd stands for definition description, which is used to display
              the definition of the term. -->
                    <dd class="font-medium text-gray-900">{{$safeNavigationMigration(cartService.totals()?.subtotal)| currency:'EUR'}}</dd>
                </dl>
                <dl class="flex items-center justify-between gap-4">
                    <dt class="font-medium text-gray-500">Discount</dt>
                    <dd class="font-medium text-green-500">-{{$safeNavigationMigration(cartService.totals()?.discount) | currency:'EUR'}}</dd>
                </dl>
                <dl class="flex items-center justify-between gap-4">
                    <dt class="font-medium text-gray-500">Delivery fee</dt>
                    <dd class="font-medium text-gray-900">{{$safeNavigationMigration(cartService.totals()?.shipping) | currency:'EUR'}}</dd>
                </dl>
            </div>

            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                <dt class="font-medium text-gray-500">Total</dt>
                <dd class="font-medium text-gray-900">{{$safeNavigationMigration(cartService.totals()?.total) | currency:"EUR" }}</dd>
            </dl>
        </div>

        @if (location.path() !== '/features/checkout' ) {
        <div class="flex flex-col gap-2 mt-2">
            <div class="flex justify-between mt-2">
                <p-button class="" outlined="true" routerLink="/features/checkout" label="Checkout" />
                <p-button class="" outlined="true" routerLink="/features/shop" label="Continue Shopping" />
            </div>

            <p class="text-sm text-gray-500">
                By placing your order, you agree to our
                <a href="#" class="text-blue-600 hover:underline">Terms of Service</a>
                and
                <a href="#" class="text-blue-600 hover:underline">Privacy Policy</a>.
            </p>
        </div>
        }
    </div>

    <div class="space-y-4 rounded-lg border border-gray-200 bg-white shadow-xs">
        <form class="space-y-2 flex flex-col p-2">
            <label class="mb-2 block font-medium"> Do you have a discount code? </label>

            <p-input-number placeholder="Enter your discount code" />
            <div class="flex justify-between mt-2">
                <p-button outlined="true" label="Clear"></p-button>
                <p-button outlined="true" label="Apply code" />
            </div>
        </form>
    </div>
</div>
